# Project specific
pinegrow.json
_pgbackup/
_pginfo/
sandbox/
projectdb.pgml
index.html
css/theme.css
css/presets/article.pre.css

# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Build output
# dist/ - Removed to include dist files in repository

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
